<html>
    <head>
        <title>Django Girls 2조 blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Django Girls 2조 Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">첫번째 포스트 'Django배포하기 디버깅 하기'</a></h2>
            <p>본인의 사이트에 접속할 때 오류가 보이면, 제일 먼저 error log(오류 로그)에서 디버깅 정보를 찾아보세요. PythonAnywhere Web tab에서 이 링크를 찾을 수 있어요. 여기서 오류 메시지가 있는지 확인하세요. 대부분의 가장 최근의 오류 메시지는 맨 하단에 있어요. 일반적으로 많이 일어나는 문제들은 아래와 같습니다.:

virtualenv를 생성하고 활성화할 때, Django를 설치할 때, Collestac을 돌릴 때, 데이터베이스를 설치할 때 같은 각 단계를 위한 콘솔 작업을 할 때 한 단계를 빼먹는 경우

web tab에서 virtualenv 경로를 쓸 때 오타가 났을 때 - 이런 경우 빨간 작은 에러 메시지가 뜰 것입니다.

WSGI 설정 파일에 실수가 있을 때 -- my-first-blog-folder 폴더의 경로를 올바르게 입력했었나요?

Web app에서 그랬듯이 virtualenv에도 같은 파이썬 버전을 선택했나요? 둘 다 모두 3.4 버전이어야 해요 위키에서 일반적인 디버깅 팁을 확인할 수 있어요.

PythonAnywhere wiki에 있는 일반적인 디버깅 방법도 있습니다.

코치들은 여러분들에게 도움을 주기 위해 여기 있다는 것을 기억하세요!</p>
        </div>

        <div>

            <h2><a href="">두번째 포스트 '수업에 유용한 사이트 링크'</a></h2>
            <p>Git-hub : https://git-scm.com/download/win</p>

<p>Atom : https://atom.io/</p>

<p>Python : https://www.python.org/downloads/</p>

<p>장고 걸스 튜토리얼 : https://tutorial.djangogirls.org/ko/django_installation/</p>
        </div>
    </body>
</html>